body{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

a{
    all:unset;
}

.topnav{
    padding: 2vh;
    margin-right: 3vw;
    margin-left: 3vw;
}
.topnav li{
    list-style: none;
    padding: 1em;
}

.nav-container{
    display: flex;
    padding: 0;
    -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.primary-nav li{
    display: inline-block;
}


.side-nav{
    position: fixed;
    right: 5vw;
    top: 45vh;
    background-color: rgb(0, 0, 0, 0.3);
    color: white;
    text-align: center;
    z-index: 1000;
}

.side-nav ul{
    padding: 0;
}

.side-nav li{
    list-style: none;
    padding: 2vh;
}

.slide-wrapper{
    margin-right: 5vw;
    margin-left: 5vw;
    height: 80vh;
    /*overflow: hidden;*/
}

.slide-wrapper .slide-container .slide{
    height: 80vh;
    width: 100%;
}

.slide-container{
    position:relative;
}

.slide {
    position:absolute;
}

.blue{
    background-color: #018F95; 
    z-index: 999;
    animation: fade 12s infinite;
}
.red{
    background-color: #E44F40;
    z-index: 998;
    animation: fade2 12s infinite;
}
.yellow{
    background-color: #E9B000;
    z-index: 997;
    animation: fade3 12s infinite;
}
.pink{
    background-color: #EB6F81;
    z-index: 996;
    animation: fade4 12s infinite;
}

.background-img{
    height: 100%;
    width: auto;
}

.img-right{
    position: absolute;
    right: 5vw;
}

.img-left{
    position: absolute;
    left: 5vw;
}


@keyframes fade
{
  0%   {opacity:1}
  25% { opacity: 0}
  50% { opacity: 0}
  75% { opacity: 0}
  100% { opacity: 1}
}
@keyframes fade2
{
    0%   {opacity:0}
    25% { opacity: 1}
    50% { opacity: 0}
    75% { opacity: 0}
    100% { opacity: 0}
}
@keyframes fade3
{
    0%   {opacity:0}
    25% { opacity: 0}
    50% { opacity: 1}
    75% { opacity: 0}
    100% { opacity: 0}
}

@keyframes fade4
{
    0%   {opacity:0}
    25% { opacity: 0}
    50% { opacity: 0}
    75% { opacity: 1}
    100% { opacity: 0}
}