html{
    scroll-behavior: smooth   
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;


}

a{
    all:unset;
}


/*------------------TOPNAVBAR-------------*/


@keyframes bounce {
	0%, 20%, 60%, 100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
    60%{
        transform: rotate(17deg);
    }
	40% {
		-webkit-transform: translateY(-20px);
        transform: translateY(-20px);

	}

	80% {
		-webkit-transform: translateY(-10px);
        transform: translateY(-10px);
	}
}

.fa-bomb:hover{
    animation: bounce 1s ;
}

.logo{
    background-color: black;
    color: white;
    margin-right: 5vw;
}

.logo:hover{
    background-color: white;
    color: black;
}

.logo i{
    font-size: 3vw;
    padding-right: 1.5vw;
    padding-left: 1.5vw;
}
.topnav{
    margin-right: 5vw;
    margin-left: 5vw;
    text-align: center;
    font-size: 1.4vw;
}
.topnav .nav-container .primary-nav li{
    list-style: none;
    padding: 1em;
}

.nav-container{
    display: flex;
    padding: 0;
    margin: 0;
    -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.primary-nav{
    padding-top: 3vh;
}

.primary-nav li{
    display: inline-block;
}

.primary-nav li:hover{
    background-color: #F4F3F1;
    cursor: pointer;
    color: black;
}

.secondary-nav{
    padding-top: 5vh;
}
.secondary-nav li{
    font-size: 2vw;
    list-style: none;
}

.secondary-nav li:hover{
    animation: colorFade 10s infinite;
    color: #018F95;
    cursor: pointer;
}

@keyframes colorFade {
    0%{ color: #018F95;}
    25%{color: #E44F40;}
    50%{color: #E9B000;}
    75%{color: #EB6F81;}
}



.web-active{
    background-color: #018F95;
    color: white;
}

.gra-active{
    background-color: #E44F40;
    color: white;
}
.art-active{
    background-color: #E9B000;
    color: white;
}



/*-------------SIDENAVBAR-----------*/

.side-nav{
    position: fixed;
    background-color: rgb(0, 0, 0, 0.3);
    color: white;
    z-index: 1000;
    bottom: -24%;
    left: 5vw;
    letter-spacing: 0.5vw;
    writing-mode: vertical-rl;
    transition: 0.3s;
}

.side-nav ul{
    padding: 0;
}

.side-nav:hover{
    bottom:0;
}

.side-nav li{
    list-style: none;
    padding: 2vh;
}

.side-nav li:hover{
    background-color: rgb(0, 0, 0);
    cursor: pointer;
}

/*---------------------SLIDER------------*/
.slide-wrapper{
    margin-right: 5vw;
    margin-left: 5vw;
    height: 87vh;
    overflow-y: scroll;
    position: relative;
    scroll-behavior: smooth;
}

.slide-wrapper .slide-container .slide{
    height: 87vh;
    width: 100%;
    position: relative;
}

.blue{
    background-color: #018F95; 

}
.red{
    background-color: #E44F40;
}
.yellow{
    background-color: #E9B000;
}
.pink{
    background-color: #EB6F81;
}

.background-img{
    height: 99%;
    width: auto;
    z-index: 0;
}

.img-right{
    position: absolute;
    right: 5vw;
}

.img-left{
    position: absolute;
    left: 5vw;
}


/*------------TEXT ON SLIDER------------*/

.jack-text{
    font-family: 'Mada', sans-serif;  
    color: white;
    font-size: 1.2vw;
    margin-bottom: 0;
}

.king-text{
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5vw;
    margin: 0;
}

.queen-text{
    color: white;
    font-size: 1.5vw;
    margin-top: 2.5vh;
}

.castle ul li:first-child{
    color:black;
    font-size: 1.1vw;
    margin-top: 3vh;
}

.castle ul{
    padding: 0;
}

.castle ul li{
    list-style: none;
}

.castle{
    position: absolute;
    z-index: 5;
    width: 40%;
    padding-top: 10vh;
    padding-left: 10vh;
}

.castle-right{
    margin-left: 45%;
}

.special-text{
    color:black;
    font-size: 1.5vw;
}


/*------------------------GRID DESIGN------------------*/

.wrapper{
    height: 87vh;
    margin-right: 5vw;
    margin-left: 5vw;
    overflow-y: scroll;
}

.grid-container {
    display:grid;

}

.grid-item {
    padding: 1em;  
    height: 45vh;
}


.grid-item img{
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.grid-item img:hover{
    opacity: 0.5;
}

.col-2 {
    grid-template-columns: repeat(2,1fr);
}

[data-gridcolor="blue"]:hover {
    background:linear-gradient(#018F95, transparent);

}

[data-gridcolor="red"]:hover  {
    background: linear-gradient(#E44F40, transparent); 
}

[data-gridcolor="yellow"]:hover  {
    background: linear-gradient(#E9B000, transparent); 
}

[data-gridcolor="pink"]:hover  {
    background: linear-gradient(#EB6F81, transparent);
}

.overlay-container{
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    z-index: 100;
    cursor:pointer;
  }

  .grid-item:hover .overlay {
    opacity: 1;
  }

  .text {
    font-family: 'Mada', sans-serif;
    text-transform: uppercase;
    color: #F4F3F1;
    background: rgb(0, 0, 0, 0.5);
    padding-top: 1em;
    padding-bottom: 1em;
    width: 100%;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

/*-----------------WORKS-----------------*/

.hero {
    height: 50vh;
    width: 100%; 
    background-image: url(images/hero-placeholder.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0;
}

.ruleroficons{
    background-color: #F4F4F4;
    display: flex;
    justify-content: space-between;
    padding: 5%;
}

.iconarmy{
    font-size: 10vw;
    color: black;
}

.ruleroftext{
    padding: 5vh 10vw 5vh 10vw;
}

.rulerofgrids{
    display:grid;
    grid-gap:1em;
    margin: 1em;
}

.gridarmy {
    padding: 1em;  
}

.col-3 {
    grid-template-columns: repeat(3,1fr);
}

.backto{
    background-color: #F4F4F4;
    color: black;
    text-align: center;
    margin-bottom: 1em;
    padding: 1em;
    cursor: pointer;
}
/*------------gooey arrow-------------*/


.ico {
    margin: 0 auto;
    text-align: center;
    width: 100px;
    height: 100px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    filter: url("#goo");
}
.ico .circle {
    background: #fff;
    border-radius: 50%;
    display: inline-block;
    height: 100px;
    width: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    transform-origin: 0%;
}
.ico .circle.circle-top {
    height: 33.3333333333px;
    width: 41.6666666667px;
    animation: blob-1-anim 3s cubic-bezier(0.77, 0, 0.175, 1) infinite;
    z-index: 0;
    top: 0;
}
.ico .circle.circle-bottom {
    height: 33.3333333333px;
    width: 41.6666666667px;
    animation: blob-2-anim 3s cubic-bezier(0.77, 0, 0.175, 1) infinite;
    z-index: 9;
    bottom: 0px;
}
.ico .st-arrow {
    fill: #55544f;
    animation: scrolly 3s cubic-bezier(0.77, 0, 0.175, 1) forwards infinite;
    perspective: 9000px;
    transform: translateZ(0);
    transform-origin: bottom;
}
.svg {
    z-index: 9;
    position: relative;
}
@keyframes blob-1-anim {
    0% {
        transform: translateX(-50%) translateY(0);
   }
    14% {
        transform: translateX(-50%) translateY(-8px);
   }
    24% {
        transform: translateX(-50%) translateY(0);
   }
    100% {
        transform: translateX(-50%) translateY(0);
   }
}
@keyframes blob-2-anim {
    0% {
        transform: scale(1) translate(-50%, 10px);
   }
    30% {
        transform: scale(1) translate(-50%, 10px);
   }
    70% {
        transform: scale(1) translate(-50%, 10px);
   }
    95% {
        transform: scale(1) translate(-50%, 26px);
   }
    100% {
        transform: scale(1) translate(-50%, 10px);
   }
}
@keyframes scrolly {
    0% {
        transform: translate3d(0, -150%, 0) rotateX(90deg) scale(0.5) skewX(3deg);
   }
    30% {
        transform: translate3d(0, 0, 0) rotateX(0deg) scale(1) skewX(0deg);
   }
    70% {
        transform: translate3d(0, 0, 0) rotateX(0deg) scale(1) skewX(0deg);
   }
    95% {
        transform: translate3d(0, 50%, 0) rotateX(-90deg) scale(0.5) skewX(-3deg);
   }
    100% {
        transform: translate3d(0, 50%, 0) rotateX(-90deg) scale(0.5) skewX(-3deg);
   }
}



/*--------------CONTACT-----------*/

.contact-wrapper{
    height:100vh;
    width:auto;
    margin: 2em;
}
.inner-contact{
    background-color: #018F95;
    height: 100vh;
    animation: changeColor 10s ease infinite;
    padding: 10% 10% 0% 10%;
}


@keyframes changeColor{
    0%{background-color: #018F95;}
    25%{background-color: #E44F40;}
    50%{background-color: #E9B000;}
    75%{background-color: #EB6F81;}
}

.house{
    border: 2px solid white;
    height: 60%;
}